<h3>Them moi nhan vien</h3>
<div [hidden]="submitted" style="width: 400px;">
    <form [formGroup]="userFormGroup" novalidate (ngSubmit)="onSubmit()">
        <!-- <div class="form-group">
            <label for="name"></label>
            <input type="text" class="form-control" id="id" required [(ngModel)]="employee.id" name="id">
        </div> -->
        <div class="form-group">
            <label for="name">Ten</label>
            <input type="text" class="form-control" id="employee_name" name="employee_name"
                formControlName="employee_name">
        </div>
        <div class="form-group">
            <label for="name">Luong</label>
            <input type="text" class="form-control" id="employee_salary" name="employee_salary"
                formControlName="employee_salary">
        </div>
        <div class="form-group">
            <label for="name">Tuoi</label>
            <input type="text" class="form-control" id="employee_age" name="employee_age"
                formControlName="employee_age">
        </div>
        <button type="submit" class="btn btn-success" [disabled]="userFormGroup.status=='INVALID'">Luu</button>
        <p>Form value: {{userFormGroup.value | json}}</p>
        <p>Form status: {{userFormGroup.status | json}}</p>
        <p>Form untouched: {{userFormGroup.untouched | json}}</p>
        <p>Form dirty: {{userFormGroup.dirty | json}}</p>
    </form>
</div>
